<body>
    <div class="container body-bag">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="card m-5 ">
                <h3 class="card-header header-color">Sign up</h3>
                <div class="card-body">
                   <form>
                      <div class="form-row">
                         <div class="form-group col-6">
                               <label>First Name</label>
                               <input kendoTextBox class="form-control" />
                         </div>
                         <div class="form-group col-6">
                               <label>Last Name</label>
                               <input kendoTextBox class="form-control" />
                         </div>
                      </div>
                         <div class="form-group">
                            <label>Email</label>
                            <input kendoTextBox class="form-control"/>
                         </div>
                         <div class="form-row">
                            <div class="form-group col">
                                  <label>Password</label>
                                  <input kendoTextBox type="password" class="form-control" />
                            </div>
                            <div class="form-group col">
                                  <label>Confirm Password</label>
                                  <input kendoTextBox type="password"  class="form-control" />
                            </div>
                         </div>
                         <div class="text-center">
                            <button kendoButton class="mr-2">Register</button>
                            <button kendoButton type="reset">Cancel</button>
                         </div>
                   </form>
                </div>
             </div>
             <div class="text-center">
             
             <p class="color">
                Already a member?
             <a routerLink="/signin" routerLinkActive="active" target="_top">Sign In</a>
             <br>
             <a routerLink="/" routerLinkActive="active" target="_top">Home</a>
             <br>
             </p>
             </div>
          </div>
       </div>
    </div>
    </body>
