<body>
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
          <a class="navbar-brand mr-auto" href="/"><img src="assets/deloitte.png" height="15" width="80" class="align-self-center"></a>
          <div class="collapse navbar-collapse" id="Navbar">
                  <span class="col-10"></span>
                  <button routerLink="/" kendoButton [look]="'flat'" [icon] = "'login'" class="k-block">Sign In</button>
                  <button routerLink="/register" kendoButton [look]="'flat'" [icon] = "'user'" class="k-block">Sign Up</button>
          </div> 
      </div>
   </nav>
    <div class="container body-bag">
       <div class="row  mt-5">
          <div class="col-md-6 offset-md-3">
             <div class="card m-5 ">
                <h3 class="card-header color">Sign In</h3>
                <div class="card-body">
                   <form #form = 'ngForm' autocomplete="off" (submit)="onSubmit(form)">
                      <div class="form-row">
                         <div class="form-group col-12">
                               <label>Username</label>
                               <input kendoTextBox class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required/>
                         </div>
                      </div>
                         <div class="form-row">
                            <div class="form-group col-12">
                                  <label>Password</label>
                                  <input kendoTextBox type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required/>
                            </div>
                         </div>
                         <div class="text-center">
                            <button kendoButton class="mr-2 mt-2" type="submit">Login</button>
                         </div>
                   </form>
                </div>
             </div>
             <div class="text-center">
             <strong>
             <p class="color">
                New Member ?
             <a routerLink="/signin" routerLinkActive="active" target="_top">Sign Up</a>
             <br>
             <a routerLink="/" routerLinkActive="active" target="_top">Home</a>
             <br>
             </p></strong>
             </div>
          </div>
       </div>
    </div>
    </body>
