<!-- <mat-toolbar class="toolbar-color">
    <mat-toolbar-row>
        <a href="/">
            <img src ="assets/deloitte.png" height="125" width="125" > 
        </a>
        
        
            
        </p>
    </mat-toolbar-row>
</mat-toolbar> -->


<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="/"><img src="assets/deloitte.png" height="15" width="80" class="align-self-center"></a>
        <div class="collapse navbar-collapse" id="Navbar">
                <span class="col-10"></span>
                <button routerLink="/login" kendoButton [look]="'flat'" [icon] = "'login'" class="k-block">Sign In</button>
                <button routerLink="/register" kendoButton [look]="'flat'" [icon] = "'user'" class="k-block">Sign Up</button>
        </div> 
    </div>
</nav>