<body>
<app-header></app-header>
<!-- <div class="card col-4 offset-4 pt-5 mx-auto" style="width: 18rem;">
    
    <div class="card-body">
      
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
  <div class="row align-middle mt-5">
    <div class="col-md-6 offset-md-3">
       <div class="card m-5 ">
        <img src="assets/800px-Deloitte.png" class="card-img-top" height="100" width="300" >
          <div class="card-body">
            <h3 class="card-title">Employee Information System</h3>
            <p class="card-text">An Employee Information System helps to maintain employee records and pull reports for HR purposes. It helps to better measure, analyze and manage employees’ working hours, projects, salary and other details; and deploy human resources more effectively</p>
            <div class="text-center">
                <button kendoButton routerLink="/register" kendoButton [look]="'flat'" [icon] = "'user'" class="mr-2">Sign Up</button>
                <button kendoButton routerLink="/login" kendoButton [look]="'flat'" [icon] = "'login'" >Sign In</button>
             </div>
             </div>
             </div>
             </div>
             </div>

</body>