


<body>
   <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
          <a class="navbar-brand mr-auto" href="/"><img src="assets/deloitte.png" height="15" width="80" class="align-self-center"></a>
          <div class="collapse navbar-collapse" id="Navbar">
            <span style="color: white;" class="align-bottom ml-2">Employee Management System</span>
            <span class="col-7"></span>
                  <button routerLink="/" kendoButton [look]="'flat'" [icon] = "'login'" class="k-block">Sign In</button>
                  <button routerLink="/register" kendoButton [look]="'flat'" [icon] = "'user'" class="k-block">Sign Up</button>
          </div> 
      </div>
   </nav>
<div class="container body-bag">
   <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
         <div class="card m-5 ">
            <h3 class="card-header color">Sign up</h3>
            <div class="card-body">
               <form [formGroup]="service.formModel" autocomplete="off" (ngSubmit) ="onSubmit()">
                  <div class="form-row">
                     <div class="form-group col-6 required">
                           <label>Username</label>
                           <input kendoTextBox class="form-control" formControlName="UserName"/>
                           <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is mandatory.</label>
                     </div>
                     <div class="form-group col-6">
                           <label>Full Name</label>
                           <input kendoTextBox class="form-control" formControlName="FullName"/>
                     </div>
                  </div>
                     <div class="form-group required">
                        <label>Email</label>
                        <input kendoTextBox class="form-control" formControlName="Email"/>
                        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>
                        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This field is mandatory.</label>
                     </div>
                  <div formGroupName = "Passwords">
                     <div class="form-row">
                        <div class="form-group col required">
                           <label>Password</label>
                           <input kendoTextBox type="password" class="form-control" formControlName="Password"/>
                           <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
                           <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
                        </div>
                        <div class="form-group col required">
                           <label>Confirm Password</label>
                           <input kendoTextBox type="password"  class="form-control" formControlName="ConfirmPassword"/>
                           <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
                           <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>                        </div>
                     </div>
                  </div>
                     <div class="text-center">
                        <button kendoButton kendoButton [look]="'flat'" [icon] = "'user'" class="mr-2" type="submit">Register</button>
                        <button kendoButton kendoButton [look]="'flat'" [icon] = "'cancel'" type="reset">Cancel</button>
                     </div>
               </form>
            </div>
         </div>
         <div class="text-center">
         
         <p class="color">
            Already a member?
         <a routerLink="/login" routerLinkActive="active" target="_top">Sign In</a>
         <br>
         <a routerLink="/" routerLinkActive="active" target="_top">Home</a>
         <br>
         </p>
         </div>
      </div>
   </div>
</div>
</body>